<li class="col-xs-12 col-md-12"><img><%= image_tag 'dqxii.png' %></img></li>
<h2 class="twitter_surface"><strong>PHASE2 大課題   <strong></h2>

<div class="col-md-6">
          <div class="topic">
            <ul class="row_B">
              <li class="col-md-12">DQXIIの世界にようこそ</li>
              <li class="col-md-12">あなたのことを教えてください</li>
            </ul>
          </div>
        </div>

<br>
        <ul class="row_C">
            <li class="col-sm-12 col-md-12">＜使い方＞</li>
            <li class="col-sm-12 col-md-12">TOP：この画面にバシルーラ！</li>
            <li class="col-sm-12 col-md-12">一覧：これまでの旅を思いかえそう！</li>
            <li class="col-sm-12 col-md-12">新規つぶやき：つぶやいてみよう！</li>
        </ul>