<div class="cover-area col-xs-12">
    <div class="cover-image"><%= image_tag 'dqxii.png' %></div>
    <h2 class="twitter_surface"><strong>PHASE2 大課題   </strong></h2>
</div>

<div class="col-xs-12">
    <div class="row">
        <div class="col-md-6 topic">
            <ul class="row row_B">
                <li class="col-md-12">DQXIIの世界にようこそ</li>
                <li class="col-md-12">あなたのことを教えてください</li>
            </ul>
        </div>

        <div class="col-md-6">
                <ul class="row row_C">
                    <li class="col-sm-12">＜使い方＞</li>
                    <li class="col-sm-12">TOP：この画面にバシルーラ！</li>
                    <li class="col-sm-12">一覧：これまでの旅を思いかえそう！</li>
                    <li class="col-sm-12">新規つぶやき：つぶやいてみよう！</li>
                </ul>
        </div>
    </div>
</div>