// Place all the styles related to the twitters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.twitter_title{
  color:#0000ff;
  font-size: 20px;
  text-align: center;
}

.content_name{
  border-radius: 5px;
}

.index_top{
  font-size: 30px;
}

.twitter_surface{
  color: #00008b;
  font-size: 40px;
  // text-align: center;
   margin-top: 223px;
   margin-left: auto;
}
// .twitter_title p{
//   // border-radius: 1px;
// }

.header {
  position: fixed;
  top: 0px;
  background-color: #3bbdff;
  width: 100%;
  height: 70px;
  text-decoration: none;
}

.twitter_first{
  font-size: 40px;
  margin-top: 38px;
  text-align: center;
}

.header{
  float:left;
}

.top_menu a{
  float:left;
  display:block;
  text-align: center;
  font-size: 1.0rem;
  color: #ffffff;
  text-decoration: none;
  // display: inline-block;
  margin-top: 23px;
  width: 100px;
  // position: relative; : 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.twitter_submit{
  text-align: center;
}

.footer{
  background-color: #3bbdff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer p{
color: #00008b;
text-align: center;
font-size: 1.0rem;
font-weight: lighter;
}

// 左端の余白を無くした
body {
margin: 0 auto;
background-color: #f1f1f1
}

//
// .twitter_title{
//   border-radius: 5px;
// }
