// Place all the styles related to the twitters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.twitter_title {
  color: #0000ff;
  font-size: 20px;
}

.navbar-default .navbar-brand {
  color: grey;
}

.navbar-brand {
  // position: relative;
  // left: 40%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  // float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.content_name {
  border-radius: 5px;
}

.index_top {
  font-size: 30px;
}

.cover-area .cover-image img {
}

.cover-area,
.cover-image,
img {
}

.cover-area {
  padding: 150px 0 50px 0;
  .cover-image {
    img {
      width: 450px;
      height: 210px;
      object-fit: cover;
      @media only screen and (max-width: 766px) {
        width: 300px;
        height: 140px;
      }
    }
  }
  .twitter_surface {
    color: #00008b;
    font-size: 40px;
    // margin-left: auto;
  }
}
// .twitter_title p{
//   // border-radius: 1px;
// }

.header {
  position: fixed;
  // margin-top: -100px;
  top: 0px;
  // background-color: #3bbdff;
  width: 100%;
  height: 70px;
  text-decoration: none;
  float: left;
}

.twitter_first {
  font-size: 40px;
  margin-top: 38px;
}

.top_menu a {
  float: left;
  display: block;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  // display: inline-block;
  margin-top: 23px;
  width: 100px;
  // position: relative; : 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer p {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  position: relative;
  top: 15px;
  left: 10px;
}

// 左端の余白を無くした
body {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50px;
  left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #333;
  background-color: #fff;
}

.edit_btn {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #18ffd1;
}
.delete_btn {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ff5757;
  // text-decoration: none;
}
.edit_name {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.delete_name {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}
//
// .twitter_title{
//   border-radius: 5px;
// }

.topic li {
  margin: 1%;
  border-bottom: dotted 1px #333333;
}

.row_B li {
  text-align: left;
  font-size: 20px;
}

li {
  list-style: none;
}

.row_C li {
  text-align: left;
  font-size: 20px;
  // padding-bottom: 30px;
}

.edit_btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #18ffd1;
  /* border-collapse: collapse; */
  border-spacing: 0;
}

.edit_name {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.delete_btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: red;
  /* border-collapse: collapse; */
  border-spacing: 0;
  position: relative;
  top: 0px;
  left: 30px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input {
  line-height: normal;
}

// @media (min-width: 768px) {
//   position: relative;
//   top: 30px;
// }
